@import 'base.scss';

body { 
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

/* Home */

/* Home Text */
h1 { 
  font-size: $font-size-700;
  font-weight: 50;
  letter-spacing: 100%;

  margin: 0;
  padding: 0;
}
h1 > label { 
  font-size: $font-size-600;
  font-weight: 200;
  letter-spacing: 15%;
  margin-right: 2rem;
}
h1 > label:first-child { 
  margin-right: 1rem; 
}
h2 { 
  font-size: 8rem;
  font-weight: 50;
  //filter: blur(1px);

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.my-labels { 
  display: flex;
  flex-direction: column;
}
.my-labels span {  
  font-size: $font-size-600;
  font-weight: 300;
  color: $grey-light;
  filter: drop-shadow();
  margin: 0.25rem 0;
}

/* Home Images */
.sapling, .sapling-mobile { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30%;
  right: 0; 
  z-index: -1;
  margin: auto; 
  width: 60%;
  max-width: 25rem;
}
.sapling-mobile { 
  display: none;
}

/* Home Sections */
.hero { 
  position: relative;
  //padding: 11rem 30% 15rem 5rem;
  padding: 11rem 40% 15rem 5rem;
}
.about-section { 
  display: flex;
  //padding: 15rem 30% 15rem 5rem;
  padding: 15rem 5rem 15rem 5rem;
}
.about-section .titles { 
  width: 100%;
  margin-right: 5rem; 
  img { 
    width: 80%;
    border-radius: 50%;
  }
  h3 { 
    font-size: $font-size-700;
    font-weight: 100;
    letter-spacing: 100%
  }
  .my-labels span { 
    font-size: $font-size-400; 
  }
}
.about-section .abouttext { 
  display: flex;
  flex-direction: column;
  b { 
    position: relative;
   }
  b::after { 
    content: '';
    position: absolute;
    display: block;
    bottom: -0.2rem;
    width: 115%;
    height: 0.8rem;
    background-color: $green;
    z-index: -1;
  }
  small { 
    & {
      display: flex;
      flex-wrap: wrap;
      width: fit-content;
      padding: 0 1rem;
      font-size: $font-size-300;
      background-color: $green; 
      box-shadow: 0.25rem 0.25rem #000;
      margin-bottom: 0.25rem;
    }
    label { 
      display: flex;
      align-items: center;
      vertical-align: middle;
    }
    label::after { 
      display: block;
      content: '';
      background-color: black;
      width: 5px;
      height: 5px;
      border-radius: 50%; 
      margin: 1rem;
    }
    label:last-child::after { 
      display: none;
    }
  }
}

// PROJECTS AND TOPICS
section { 
  padding: 15rem 5rem 15rem 5rem;
}
.topics-nav { 
  & { 
    margin: 0 5rem;
  }
  h1 { 
    margin-bottom: 2rem; 
  }
}
.topics { 
  & { 
    display: flex;
  }
  a { 
    text-decoration: none;
    padding: 0.25rem 1rem;
    margin-right: 2rem; 
    color: #000;
    background-color: $green;
  }
  a:hover { 
    background-color: $green;
  }
}
.topic { 
  .topic-skills { 
    display: flex;
  }
  .two-col { 
    &  {
      display: flex; 
    }
    & > div:first { 
      padding-right: 3rem;
    }
    & > div:last-child { 
      margin-left: auto;
    }
  }

  .topic-category-label { 
    & { 
      display: flex;
      align-items: center;
      font-size: $font-size-600;
      letter-spacing: 14%;
      font-size: $font-size-400;
    }
    label { 
      margin-left: -1.1rem
    }
  }
  .helix-animation-small { 
    scale:0.5;
    margin-left: -1.5rem;
  }
  small { 
    & {
      display: flex;
      flex-wrap: wrap;
      width: fit-content;
      padding: 0 1rem;
      margin-right: 1rem;
      font-size: $font-size-300;
      background-color: $green; 
      box-shadow: 0.25rem 0.25rem #000;
      margin-bottom: 0.25rem;
    }
    label { 
      display: flex;
      align-items: center;
      vertical-align: middle;
    }
    label::after { 
      display: block;
      content: '';
      background-color: black;
      width: 5px;
      height: 5px;
      border-radius: 50%; 
      margin: 1rem;
    }
    label:last-child::after { 
      display: none;
    }
  }
  img { 
    display: block;
    margin: 2rem 0rem; 
  }
}

.helix { 
  & {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    rotate: -45deg;
    bottom: 50%;
    z-index: -1;
  }
  .dna { 
    scale: 6.8;
    opacity: 0.1;
  }
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    h1 { 
      font-size: $font-size-700;
    }
    h1 > label { 
      font-size: 0.75rem;
    }
    h2 { 
      font-size: 4.8rem;
    }
    .hero {
      display: flex;
      flex-direction: column;
      padding: 4rem 1rem; 
    }
    .about-section { 
      flex-direction: column;
      padding: 4rem 1rem;
    }
    .sapling, .sapling-mobile { 
      position: initial;
      width: 35%;
    }
    .sapling-mobile { 
      display: block;
    }
    .sapling { 
      display: none;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 